# Perform the following operation on Autompg.csv of XYZ Custom Cars company using Pandas Read data from an existing file

In [20]:
import pandas as pd
import numpy as np

# Load the data
df = pd.read_csv('D:\\AUTOMPG.csv')

# Display the first few rows of the DataFrame
print(df.head())

   Unnamed: 0  displacement  cylinders  horsepower  weight  acceleration  \
0           0         307.0          8       130.0    3504          12.0
1           1         350.0          8       165.0    3693          11.5
2           2         318.0          8       150.0    3436          11.0
3           3         304.0          8       150.0    3433          12.0
4           4         302.0          8       140.0    3449          10.5

   model_year  origin   mpg
0          70       1  18.0
1          70       1  15.0
2          70       1  18.0
3          70       1  16.0
4          70       1  17.0

# Engineers at XYZ Custom Cars want to know how many cars are Fuel efficient MPG > 29, Horsepower < 93.5, Weight < 2500

In [28]:
# Filter the DataFrame based on the given conditions
filtered_df = df.loc[(df['mpg'] > 29) & (df['horsepower'] < 93.5) & (df['weight'] < 2500)]
# Display the filtered DataFrame
print(filtered_df)

     Unnamed: 0  displacement  cylinders  horsepower  weight  acceleration  \
51           51          79.0          4        70.0    2074          19.5
52           52          88.0          4        76.0    2065          14.5
53           53          71.0          4        65.0    1773          19.0
54           54          72.0          4        69.0    1613          18.0
129         129          79.0          4        67.0    1950          19.0
..          ...           ...        ...         ...     ...           ...
384         384          91.0          4        67.0    1965          15.7
385         385          91.0          4        67.0    1995          16.2
391         391         135.0          4        84.0    2370          13.0
394         394          97.0          4        52.0    2130          24.6
395         395         135.0          4        84.0    2295          11.6

     model_year  origin   mpg
51           71       2  30.0
52           71       2  30.0
53           71       3  31.0
54           71       3  35.0
129          74       3  31.0
..          ...     ...   ...
384          82       3  32.0
385          82       3  38.0
391          82       1  36.0
394          82       2  44.0
395          82       1  32.0

[81 rows x 9 columns]

In [30]:
df.loc[(df['mpg'] > 29) & (df['horsepower'] < 93.5) & (df['weight'] < 2500)]

,Unnamed: 0,displacement,cylinders,horsepower,weight,acceleration,model_year,origin,mpg
51,51,79.0,4,70.0,2074,19.5,71,2,30.0
52,52,88.0,4,76.0,2065,14.5,71,2,30.0
53,53,71.0,4,65.0,1773,19.0,71,3,31.0
54,54,72.0,4,69.0,1613,18.0,71,3,35.0
129,129,79.0,4,67.0,1950,19.0,74,3,31.0
...,...,...,...,...,...,...,...,...,...
384,384,91.0,4,67.0,1965,15.7,82,3,32.0
385,385,91.0,4,67.0,1995,16.2,82,3,38.0
391,391,135.0,4,84.0,2370,13.0,82,1,36.0
394,394,97.0,4,52.0,2130,24.6,82,2,44.0
395,395,135.0,4,84.0,2295,11.6,82,1,32.0

# Engineers at XYZ Custom Cars want to know how many cars are Muscle cars Displacement >262, Horsepower > 126, 
# Weight in range[2800,
3600]]

In [35]:
df.loc[(df['displacement'] > 262) & (df['horsepower'] > 126) & (df['weight'] >=2800) & (df['weight'] <= 3600)]

,Unnamed: 0,displacement,cylinders,horsepower,weight,acceleration,model_year,origin,mpg
0,0,307.0,8,130.0,3504,12.0,70,1,18.0
2,2,318.0,8,150.0,3436,11.0,70,1,18.0
3,3,304.0,8,150.0,3433,12.0,70,1,16.0
4,4,302.0,8,140.0,3449,10.5,70,1,17.0
10,10,383.0,8,170.0,3563,10.0,70,1,15.0
13,13,455.0,8,225.0,3086,10.0,70,1,14.0
121,121,318.0,8,150.0,3399,11.0,73,1,15.0
166,166,302.0,8,129.0,3169,12.0,75,1,13.0
251,251,302.0,8,139.0,3570,12.8,78,1,20.2
262,262,305.0,8,145.0,3425,13.2,78,1,19.2
264,264,302.0,8,139.0,3205,11.2,78,1,18.1

# Engineers at XYZ Custom Cars want to know how many cars are SUVs Horsepower > 140 , Weight > 4500

In [38]:
df.loc[(df['horsepower'] > 140) & (df['weight'] >=4500)]

,Unnamed: 0,displacement,cylinders,horsepower,weight,acceleration,model_year,origin,mpg
25,25,360.0,8,215.0,4615,14.0,70,1,10.0
28,28,304.0,8,193.0,4732,18.5,70,1,9.0
42,42,383.0,8,180.0,4955,11.5,71,1,12.0
43,43,400.0,8,170.0,4746,12.0,71,1,13.0
44,44,400.0,8,175.0,5140,12.0,71,1,13.0
67,67,429.0,8,208.0,4633,11.0,72,1,11.0
68,68,350.0,8,155.0,4502,13.5,72,1,13.0
90,90,429.0,8,198.0,4952,11.5,73,1,12.0
94,94,440.0,8,215.0,4735,11.0,73,1,13.0
95,95,455.0,8,225.0,4951,11.0,73,1,12.0
103,103,400.0,8,150.0,4997,14.0,73,1,11.0
104,104,400.0,8,167.0,4906,12.5,73,1,12.0
105,105,360.0,8,170.0,4654,13.0,73,1,13.0
137,137,350.0,8,150.0,4699,14.5,74,1,13.0
156,156,400.0,8,170.0,4668,11.5,75,1,16.0
159,159,351.0,8,148.0,4657,13.5,75,1,14.0

# Engineers at XYZ Custom Cars want to know how many cars are Racecars Weight <2223, acceleration > 17

In [41]:
df.loc[(df['acceleration'] > 17) & (df['weight'] < 2223)]

,Unnamed: 0,displacement,cylinders,horsepower,weight,acceleration,model_year,origin,mpg
19,19,97.0,4,46.0,1835,20.5,70,2,26.0
32,32,98.0,4,NaN,2046,19.0,71,1,25.0
51,51,79.0,4,70.0,2074,19.5,71,2,30.0
53,53,71.0,4,65.0,1773,19.0,71,3,31.0
54,54,72.0,4,69.0,1613,18.0,71,3,35.0
55,55,97.0,4,60.0,1834,19.0,71,2,27.0
56,56,91.0,4,70.0,1955,20.5,71,1,26.0
79,79,96.0,4,69.0,2189,18.0,72,2,26.0
102,102,97.0,4,46.0,1950,21.0,73,2,26.0
117,117,68.0,4,49.0,1867,19.5,73,2,29.0
129,129,79.0,4,67.0,1950,19.0,74,3,31.0
131,131,71.0,4,65.0,1836,21.0,74,3,32.0
145,145,83.0,4,61.0,2003,19.0,74,3,32.0
181,181,91.0,4,53.0,1795,17.5,75,3,33.0
195,195,85.0,4,52.0,2035,22.2,76,1,29.0
196,196,98.0,4,60.0,2164,22.1,76,1,24.5
198,198,91.0,4,53.0,1795,17.4,76,3,33.0
216,216,98.0,4,68.0,2045,18.5,77,3,31.5
218,218,79.0,4,58.0,1825,18.6,77,2,36.0
244,244,90.0,4,48.0,1985,21.5,78,2,43.1
246,246,78.0,4,52.0,1985,19.4,78,3,32.8
247,247,85.0,4,70.0,2070,18.6,78,3,39.4
303,303,85.0,4,65.0,2020,19.2,79,3,31.8
310,310,89.0,4,60.0,1968,18.8,80,3,38.1
322,322,86.0,4,65.0,2110,17.9,80,3,46.6
324,324,85.0,4,65.0,2110,19.2,80,3,40.8
325,325,90.0,4,48.0,2085,21.7,80,2,44.3
330,330,85.0,4,NaN,1835,17.3,80,2,40.9
331,331,97.0,4,67.0,2145,18.0,80,3,33.8
346,346,97.0,4,67.0,2065,17.8,81,3,32.3
347,347,85.0,4,65.0,1975,19.4,81,3,37.0
348,348,89.0,4,62.0,2050,17.3,81,3,37.7
376,376,91.0,4,68.0,2025,18.2,82,3,37.0
377,377,91.0,4,68.0,1970,17.6,82,3,31.0
379,379,98.0,4,70.0,2125,17.3,82,1,36.0
394,394,97.0,4,52.0,2130,24.6,82,2,44.0

# XYZ Custom cars want the data sorted according to the number of cylinders

In [44]:
df.sort_values(by = 'cylinders')

,Unnamed: 0,displacement,cylinders,horsepower,weight,acceleration,model_year,origin,mpg
111,111,70.0,3,90.0,2124,13.5,73,3,18.0
71,71,70.0,3,97.0,2330,13.5,72,3,19.0
334,334,70.0,3,100.0,2420,12.5,80,3,23.7
243,243,80.0,3,110.0,2720,13.5,77,3,21.5
267,267,134.0,4,95.0,2560,14.2,78,3,27.5
...,...,...,...,...,...,...,...,...,...
86,86,304.0,8,150.0,3672,11.5,73,1,14.0
285,285,305.0,8,130.0,3840,15.4,79,1,17.0
286,286,302.0,8,129.0,3725,13.4,79,1,17.6
92,92,351.0,8,158.0,4363,13.0,73,1,13.0
0,0,307.0,8,130.0,3504,12.0,70,1,18.0

# There is a requirement in which the cars that have lowest acceleration must be assessed. It is also to be checked that which cars have higher
# horsepower despite having lower acceleration.

In [47]:
df.sort_values(['acceleration', 'horsepower'], ascending = (1,0))

,Unnamed: 0,displacement,cylinders,horsepower,weight,acceleration,model_year,origin,mpg
11,11,340.0,8,160.0,3609,8.0,70,1,14.0
7,7,440.0,8,215.0,4312,8.5,70,1,14.0
9,9,390.0,8,190.0,3850,8.5,70,1,15.0
6,6,454.0,8,220.0,4354,9.0,70,1,14.0
116,116,400.0,8,230.0,4278,9.5,73,1,16.0
...,...,...,...,...,...,...,...,...,...
195,195,85.0,4,52.0,2035,22.2,76,1,29.0
59,59,97.0,4,54.0,2254,23.5,72,2,23.0
326,326,90.0,4,48.0,2335,23.7,80,2,43.4
394,394,97.0,4,52.0,2130,24.6,82,2,44.0
299,299,141.0,4,71.0,3190,24.8,79,2,27.2

# The board of XYZ custom cars wants to know about minimum and maximum sum, mean and median of all the numerical columns

In [50]:
#Using list comprehension to get the numerical columns
list1 = [col for col in df.columns if df[col].dtype in ['float', 'int64']]
df[list1].agg(['min', 'max','sum','mean','median'])

,Unnamed: 0,displacement,cylinders,horsepower,weight,acceleration,model_year,origin,mpg
min,0.0,68.000000,3.000000,46.000000,1.613000e+03,8.00000,70.00000,1.000000,9.000000
max,397.0,455.000000,8.000000,230.000000,5.140000e+03,24.80000,82.00000,3.000000,46.600000
sum,79003.0,76983.500000,2171.000000,40952.000000,1.182229e+06,6196.10000,30252.00000,626.000000,9358.800000
mean,198.5,193.425879,5.454774,104.469388,2.970425e+03,15.56809,76.01005,1.572864,23.514573
median,198.5,148.500000,4.000000,93.500000,2.803500e+03,15.50000,76.00000,1.000000,23.000000

# XYZ custom cars want to know the number of cars manufactured in each year.

In [53]:
df.groupby(['model_year']).count()['horsepower']

model_year
70    29
71    27
72    28
73    40
74    26
75    30
76    34
77    28
78    36
79    29
80    27
81    28
82    30
Name: horsepower, dtype: int64

# The engineers at XYZ Custom Cars want to know about the relationship between model year and acceleration of cars.

In [56]:
df.groupby(['model_year']).mean()[['acceleration']]

            acceleration
model_year
70             12.948276
71             15.142857
72             15.125000
73             14.312500
74             16.203704
75             16.050000
76             15.941176
77             15.435714
78             15.805556
79             15.813793
80             16.934483
81             16.306897
82             16.638710

# The engineers at XYZ Custom Cars want to know the frequency distribution of different number of cylinders across different years.

In [59]:
pd.crosstab(df['model_year'], df['cylinders'])

cylinders   3   4  5   6   8
model_year
70          0   7  0   4  18
71          0  13  0   8   7
72          1  14  0   0  13
73          1  11  0   8  20
74          0  15  0   7   5
75          0  12  0  12   6
76          0  15  0  10   9
77          1  14  0   5   8
78          0  17  1  12   6
79          0  12  1   6  10
80          1  25  1   2   0
81          0  21  0   7   1
82          0  28  0   3   0

# The engineers at XYZ custom cars want to know the mean of all the numerical attributes of cars for each year

In [31]:
import pandas as pd 
import numpy as np
df=pd.read_csv("D:\\AUTOMPG.csv")
pivot1 = pd.pivot_table(df, index = 'model_year', aggfunc=np.mean)
pivot1

D:\jdk-21.0.2\bin\ipykernel_16028\2395535704.py:4: FutureWarning: The provided callable <function mean at 0x0000018568BB1A80> is currently using DataFrameGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  pivot1 = pd.pivot_table(df, index = 'model_year', aggfunc=np.mean)

,Unnamed: 0,acceleration,cylinders,displacement,horsepower,mpg,origin,weight
model_year,,,,,,,,
70,14.0,12.948276,6.758621,281.413793,147.827586,17.689655,1.310345,3372.793103
71,42.5,15.142857,5.571429,209.750000,107.037037,21.250000,1.428571,2995.428571
72,70.5,15.125000,5.821429,218.375000,120.178571,18.714286,1.535714,3237.714286
73,104.5,14.312500,6.375000,256.875000,130.475000,17.100000,1.375000,3419.025000
74,138.0,16.203704,5.259259,171.740741,94.230769,22.703704,1.666667,2877.925926
75,166.5,16.050000,5.600000,205.533333,101.066667,20.266667,1.466667,3176.800000
76,198.5,15.941176,5.647059,197.794118,101.117647,21.573529,1.470588,3078.735294
77,229.5,15.435714,5.464286,191.392857,105.071429,23.375000,1.571429,2997.357143
78,261.5,15.805556,5.361111,177.805556,99.694444,24.061111,1.611111,2861.805556
79,294.0,15.813793,5.827586,206.689655,101.206897,25.093103,1.275862,3055.344828
80,323.0,16.934483,4.137931,115.827586,77.481481,33.696552,2.206897,2436.655172
81,352.0,16.306897,4.620690,135.310345,81.035714,30.334483,1.965517,2522.931034
82,382.0,16.638710,4.193548,128.870968,81.466667,31.709677,1.645161,2453.548387